@model IEnumerable<ProjetoBiblioteca.Models.Sugestao>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/hover.css" asp-append-version="true" />
<h1>Faça uma sugestão aqui</h1>

<p> 
    
    <button class="hover"><a asp-action="Create">Sugerir</a></button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescSugestao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pessoa.PessoaNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescSugestao)
            </td>
                <td style="text-align:rigth">
                    <button class="hover"><a asp-action="Edit" asp-route-id="@item.SugestaoId">Editar</a></button> |
                    <button class="hover"><a asp-action="Details" asp-route-id="@item.SugestaoId">Detalhes</a></button> |
                    <button class="hover"><a asp-action="Delete" asp-route-id="@item.SugestaoId">Deletar</a></button>
                </td>
        </tr>
}
    </tbody>
</table>
