@model IEnumerable<ProjetoBiblioteca.Models.Sugestao>

@{
    ViewData["Title"] = "Index";
}

<h1>Sugestão</h1>

<p>
    <a asp-action="Create">Criar Sugestão</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescSugestao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pessoa.PessoaNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescSugestao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SugestaoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.SugestaoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.SugestaoId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
