@model ProjetoBiblioteca.Models.Livro

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Livro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LivroNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LivroNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LivroAutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LivroAutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero.GeneroNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LivroId">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>
