@model IEnumerable<ProjetoBiblioteca.Models.Livro>

@{
    ViewData["Title"] = "Index";
}

<h1>Livros</h1>

<p>
    <button><a asp-action="Create">Cadastrar novo livro</a></button>
</p>
<div>
    @using (Html.BeginForm("Index", "Livro", FormMethod.Get))
    {
        <p>
            Buscar: @Html.TextBox("pesquisa")
            <input class="pesquisa" type="submit" value="Pesquisar" />
        </p>
    }
</div>
<table class="table">
    <thead>
        <tr> 
            <th>
                @Html.DisplayNameFor(model => model.LivroNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LivroAutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LivroNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LivroAutor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero.GeneroNome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LivroId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.LivroId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.LivroId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
