@model IEnumerable<ProjetoBiblioteca.Models.Devolucao>

@{
    ViewData["Title"] = "Index";
}

<h1>Devolução</h1>

<p>
    <a asp-action="Create">Faça uma devolução</a>
</p>
<div>
    @using (Html.BeginForm("Index", "Devolucao", FormMethod.Get))
    {
        <p>
            Buscar: @Html.TextBox("pesquisa")
            <input type="submit" value="Pesquisar" />
        </p>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Emprestimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDevolucao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Emprestimo.DescricaoEmprestimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDevolucao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DevolucaoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.DevolucaoId">Detalhes</a> |
            </td>
        </tr>
}
    </tbody>
</table>
