@model IEnumerable<ProjetoBiblioteca.Models.Devolucao>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/BarraPesquisa.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/hover.css" asp-append-version="true" />



<h1>Devolução</h1>


<div>
    @using (Html.BeginForm("Index", "Devolucao", FormMethod.Get))
    {
        <button class="hover"><a asp-action="Create">Devolução</a></button>
        <p class="search">
            Buscar: @Html.TextBox("pesquisa")
            <input class="pesquisa" type="submit" value="Pesquisar" />
        </p>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Emprestimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDevolucao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Emprestimo.DescricaoEmprestimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDevolucao)
            </td>
            <td>
                    <button class="hover"><a asp-action="Edit" asp-route-id="@item.DevolucaoId">Editar</a></button> |
                    <button class="hover"><a asp-action="Details" asp-route-id="@item.DevolucaoId">Detalhes</a></button> 
        </tr>
}
    </tbody>
</table>
