@model IEnumerable<ProjetoBiblioteca.Models.Genero>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/BarraPesquisa.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/hover.css" asp-append-version="true" />

<h1>Gêneros literários</h1>

<div>
    @using (Html.BeginForm("Index", "Genero", FormMethod.Get))
    {
        <button class="hover"><a asp-action="Create">Cadastrar</a></button>
        <p class="search">
            Buscar: @Html.TextBox("pesquisa")
            <input class="pesquisa" type="submit" value="Pesquisar" />
        </p>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GeneroNome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GeneroNome)
            </td>
            <td style="float:right">
                    <button class="hover"><a asp-action="Edit" asp-route-id="@item.GeneroId">Editar</a></button> |
                    <button class="hover"><a asp-action="Details" asp-route-id="@item.GeneroId">Detalhes</a></button> |
                    <button class="hover"><a asp-action="Delete" asp-route-id="@item.GeneroId">Deletar</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
