@model IEnumerable<ProjetoBiblioteca.Models.Genero>

@{
    ViewData["Title"] = "Index";
}

<h1>Gêneros literários</h1>

<p>
    <button><a asp-action="Create">Cadastrar novo gênero</a></button>
</p>
<div>
    @using (Html.BeginForm("Index", "Genero", FormMethod.Get))
    {
        <p>
            Buscar: @Html.TextBox("pesquisa")
            <input type="submit" value="Pesquisar" />
        </p>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GeneroNome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GeneroNome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GeneroId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.GeneroId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.GeneroId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
