@model ProjetoBiblioteca.Models.Reclamacao

@{
    ViewData["Title"] = "Delete";
}
<link rel="stylesheet" href="~/css/Reclamacao.css" asp-append-version="true" />

<h1>Deletar</h1>

<h3>Tem certeza que deseja deletar sua reclamação?</h3>
<div>
    <h4>Reclamação</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.PessoaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescReclamacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescReclamacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LivroImagem)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Url.Content(@ViewBag.ImgExibicao)" class="img-reclEdit" />
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ReclamacaoId" />
        <div class="gebotao" style="display:flex;">
            <div>
                <input style="border: 1px solid black" type="submit" value="Deletar" class="btn btn-danger" /> <span style="margin-left:5px">|</span>
            </div>
            <button style="margin-left:10px;"><a asp-action="Index">Voltar</a></button>
        </div>
    </form>
</div>
