@model ProjetoBiblioteca.Models.Reclamacao

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Reclamação</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.PessoaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescReclamacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescReclamacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LivroImagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LivroImagem)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReclamacaoId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
