@model IEnumerable<ProjetoBiblioteca.Models.Reclamacao>

@{
    ViewData["Title"] = "Index";
}

<h1>Faça uma reclamação aqui</h1>

<p>
    <a asp-action="Create">Crie uma reclamação</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescReclamacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LivroImagem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pessoa.PessoaNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescReclamacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LivroImagem)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReclamacaoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReclamacaoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReclamacaoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
