@model IEnumerable<ProjetoBiblioteca.Models.Reclamacao>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/Reclamacao.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/hover.css" asp-append-version="true" />

<h1>Faça uma reclamação aqui</h1>

<p>
    <button class="hover"><a asp-action="Create">Reclamar</a></button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescReclamacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LivroImagem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="height:10px;">
            <td>
                @Html.DisplayFor(modelItem => item.Pessoa.PessoaNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescReclamacao)
            </td>
            <td>
                <img src="@Url.Content(item.ImgExibicao)" class="img-recl" />
            </td>
            <td style="text-align: right;">
                    <button class="hover"><a asp-action="Edit" asp-route-id="@item.ReclamacaoId">Editar</a></button> |
                    <button class="hover"><a asp-action="Details" asp-route-id="@item.ReclamacaoId">Detalhes</a></button> |
                    <button class="hover"><a asp-action="Delete" asp-route-id="@item.ReclamacaoId">Deletar</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
