@model IEnumerable<ProjetoBiblioteca.Models.Pessoa>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/BarraPesquisa.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/hover.css" asp-append-version="true" />

<h1>Aluno</h1>

<p>
    
</p>
<div>
    @using (Html.BeginForm("Index", "Pessoa", FormMethod.Get))
    {
        <button class="hover"><a asp-action="Create">Criar novo</a></button>
        <p class="search">
                Buscar: @Html.TextBox("pesquisa")
            <input class="pesquisa" type="submit" value="Pesquisar" />
            </p>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PessoaNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PessoaRM)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PessoaNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PessoaRM)
            </td>
                <td style="float:right">
                    <button class="hover"><a asp-action="Edit" asp-route-id="@item.PessoaId">Editar</a></button> |
                    <button class="hover"><a asp-action="Details" asp-route-id="@item.PessoaId">Detalhes</a></button> |
                    <button class="hover"><a asp-action="Delete" asp-route-id="@item.PessoaId">Deletar</a></button>
                </td>
        </tr>
}
    </tbody>
</table>
